* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 100%;
    height: auto;
}

/* Styling scroll_navbar */

.scroll_navbar {
    height: 80px;
    width: 100%;
    border: 2px solid cyan;
    background-color: rgb(245,248,250);
    padding: 0 10%;
}

.scroll_navbar:after {
    content: "";
    display: table;
    clear: both;
}

/* Styling scroll_navbar (left) */

.navbar_left {
    height: 80px;
    border: 2px solid pink;
    float: left;
    line-height: 80px;
    display: inline-block;
}

.navbar_left a#navbar_left_lang {
    padding-right: 20px;
    border-right: 2px solid rgb(203,214,226);
    color: rgb(51,71,91);
    text-decoration: none;
}

.navbar_left a#navbar_left_lang i {
    display: inline-block;
}

.navbar_left a#navbar_left_lang i.fa-caret-down {
    color: rgb(124,152,182);
    font-size: 125%;
}

.navbar_left a#navbar_left_lang p {
    display: inline-block;
    padding: 0 10px;
}

.navbar_left a#navbar_left_contact {
    padding-left: 20px;
    color: rgb(51,71,91);
    text-decoration: none;
    display: inline-block;
}

/* Styling scroll_navbar (right) */

.navbar_right {
    height: 80px;
    width: 30%;
    border: 2px solid pink;
    float: right;
}


/* Styling header */

header {
    height: 80px;
    width: 100%;
    border: 2px solid cyan;
}

/* Styling jumbo */

.jumbo {
    height: 800px;
    width: 100%;
    border: 2px solid cyan;
    background-color: rgb(255,243,238);
}
