* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 100%;
    height: auto;
}

/* Styling scroll_navbar */

.scroll_navbar {
    height: 80px;
    width: 100%;
    border-bottom: 2px solid rgb(203,214,226);
    background-color: rgb(245,248,250);
    padding: 0 10%;
}

.scroll_navbar:after {
    content: "";
    display: table;
    clear: both;
}

/* Styling scroll_navbar (left) */

.navbar_left {
    height: 80px;
    border: 2px solid pink;
    float: left;
    line-height: 80px;
    display: inline-block;
}

.navbar_left a#navbar_left_lang {
    padding-right: 20px;
    border-right: 2px solid rgb(203,214,226);
    color: rgb(51,71,91);
    text-decoration: none;
}

.navbar_left a#navbar_left_lang i {
    display: inline-block;
}

.navbar_left a#navbar_left_lang i.fa-caret-down {
    color: rgb(124,152,182);
    font-size: 125%;
}

.navbar_left a#navbar_left_lang p {
    display: inline-block;
    padding: 0 10px;
}

.navbar_left a#navbar_left_contact {
    padding-left: 20px;
    color: rgb(51,71,91);
    text-decoration: none;
    display: inline-block;
}

/* Styling scroll_navbar (right) */

.navbar_right {
    height: 80px;
    border: 2px solid pink;
    float: right;
    line-height: 80px;
}

.navbar_right a:nth-child(1) {
    color: rgb(2,164,189);
}

.navbar_right a:nth-child(2) {
    color: rgb(255,122,89);
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid rgb(255,122,89);
    margin: 0 10px 0 20px;
}

.navbar_right a:nth-child(3) {
    color: white;
    background-color: rgb(255,122,89);
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid rgb(255,122,89);
}

/* Styling header */

header {
    height: 80px;
    width: 100%;
    padding: 0 10%;
    line-height: 80px;
}

header:after {
    display: table;
    content: "";
    clear: both;
}

header>a {
    float: left;
    padding: 10px 5px;
}

.header_right {
    height: 100%;
    float: right;
}

.header_right a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(51,71,91);
    padding: 10px 10px;
}

.header_right i {
    color: rgb(124,152,182);
}

/* Styling jumbo */

.jumbo {
    height: 800px;
    width: 100%;
    border: 2px solid cyan;
    background-color: rgb(255,243,238);
}
